.container { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    border-radius: 0.6rem;
    margin-left: auto;
}

.img{
    width: 1.6rem;
    height: 1.6rem;
}

.toggle_switch { 
    position: relative; 
    width: 3.2rem; 
    height: 2rem;
    display: inline-block; 
    text-align: left;  
} 

.checkbox { 
    display: none; 
} 

.label { 
    display: block; 
    overflow: hidden; 
    cursor: pointer; 
    border: 0rem solid #bbb; 
    border-radius: 2rem; 
    height: 2rem;
} 

.inner { 
    display: block; 
    width: 200%; 
    margin-left: -100%; 
    transition: margin 0.3s ease-in 0s; 
} 

.inner:before, .inner:after { 
    float: left; 
    width: 50%; 
    height: 2rem; 
    padding: 0rem; 
    line-height: 2rem; 
    color: #fff; 
    font-weight: bold; 
    box-sizing: border-box; 
} 

.inner:before { 
    content: ""; 
    padding-left: 1rem; 
    background-color: #A729F5; 
    color: #fff; 
} 

.inner:after { 
    content: ""; 
    padding-right: 1rem; 
    background-color: #A729F5; 
    color: #fff; 
    text-align: right; 
} 

.switch { 
    display: block; 
    width: 1.2rem; 
    height: 1.2rem;
    margin: 0.4rem; 
    background: #fff; 
    position: absolute; 
    top: 0rem; 
    bottom: 0rem; 
    border: 0rem solid #bbb; 
    border-radius: 2rem; 
    transition: all 0.3s ease-in 0s; 
} 

.checkbox:checked + .label .inner { 
    margin-left: 0rem; 
} 

.checkbox:checked + .label .switch { 
    right: 0rem; 
} 

@media screen and (min-width: 768px){
    .container{
        gap: 1.6rem;
    }

    .img{
        width: 2.4rem;
        height: 2.4rem;
    }

    .toggle_switch { 
        width: 4.8rem; 
        height: auto;
    } 

    .inner:before, .inner:after { 
        height: 2.8rem; 
        line-height: 2.8rem; 
    } 

    .label{
        height: 2.8rem;
    }

    .switch{
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (min-width: 992px){
    .label:hover{
        opacity: 0.5;
    }


}